
.cta-section h2{
    font-size: 128px;
    line-height: 154px;
    margin-bottom: 30px;
}

.cta-section a{
    position: relative;
    display: inline-block;
    font-size: 24px;
    line-height: 38px;
    color: var(--text-color);
    font-family: 'Forum', serif;
    font-weight: 400;
    padding-bottom: 5px;
}

.cta-section a:before{
    position: absolute;
    content: '';
    background-image: url(../../images/shape/shape-1.png);
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.cta-section a.theme-btn:before{
    display: none;
}

.cta-section a.theme-btn{
    font-size: 32px;
    line-height: 38px;
    font-family: var(--text-font);
    margin-top: 10px;
}

.cta-section a.theme-btn .overlay-text,
.cta-section a.theme-btn .static-text{
    font-size: 32px;
    line-height: 38px;
    padding: 60px 200px;
}

.cta-section.alternat-2 h2{
    font-size: 192px;
    line-height: 230px;
}

.cta-section .title-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-section .rotate-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 190px;
    min-width: 190px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.08);
}

.cta-section .text span{
  position: absolute;
  left: 50%;
  top: 7%;
  font-size: 16px;
  line-height: 16px;
  color: var(--title-color);
  font-weight: 500;
  text-transform: uppercase;
}

.cta-section .text span{transform-origin:0 82px;will-change:transform}

.cta-section .text{
  position: absolute;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  animation:textRotation 20s linear infinite;
}

.cta-section .rotate-box .link a{
    position: relative;
    display: inline-block;
    width: 116px;
    height: 116px;
    line-height: 116px;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 50%;
    font-size: 36px;
    color: #fff;
    z-index: 1;
}

.cta-section .rotate-box .link a:before{
    display: none;
}

.cta-section.home-5 .rotate-box{
    width: 230px;
    height: 230px;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.cta-section.home-5 h2{
    font-weight: 400;
    margin-bottom: 60px;
}

.cta-section.home-5 .text span{transform-origin:0 100px;will-change:transform}


.cta-section.home-5 .text span{
    text-transform: normal;
}