
.portfolio-section{
    position: relative;
    padding-bottom: 112px;
}

.portfolio-section .inner-container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    width: max-content;
    margin-right: 30px;
}

.horizontal-marquee {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.portfolio-block-one .inner-box{
    position: relative;
    display: block;
}

.portfolio-block-one .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 12px;
}

.portfolio-block-one .inner-box .image-box img{
    width: 100%;
    border-radius: 12px;
}

.portfolio-block-one .inner-box .lower-content{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
}

.portfolio-block-one .inner-box .lower-content h3{
    position: relative;
    display: block;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    max-width: 570px;
}

.portfolio-block-one .inner-box .lower-content h3 a{
    display: inline-block;
    color: var(--title-color);
}

.portfolio-block-one .inner-box .lower-content h3 a:hover{
    color: var(--theme-color);
}

.portfolio-block-one .inner-box .lower-content span{
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 21px;
    color: var(--title-color);
}

.portfolio-style-two .outer-container{
    position: relative;
    padding-left: 100px;
}

.portfolio-style-two .inner-container{
    position: relative;
    display: flex;
    gap: 30px;
    width: max-content;
}

.portfolio-style-two .inner-container .portfolio-block-two:last-child{
    margin-right: 30px;
}

.portfolio-block-two .inner-box{
    position: relative;
    display: block;
}

.portfolio-block-two .inner-box .image-box{
    position: relative;
    display: block;
    border-radius: 12px;
    overflow: hidden;
}

.portfolio-block-two .inner-box .image-box img{
    width: 100%;
    border-radius: 12px;
}

.portfolio-block-two .inner-box .lower-box{
    position: relative;
    display: block;
    padding-top: 21px;
}

.portfolio-block-two .inner-box .lower-box h3{
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    margin-bottom: 5px;
}

.portfolio-block-two .inner-box .lower-box h3 a{
    display: inline-block;
    color: var(--title-color);
}

.portfolio-block-two .inner-box .lower-box h3 a:hover{
    color: var(--theme-color);
}

.portfolio-style-two .portfolio-block-two:nth-child(odd){
    margin-top: 195px;
}


.portfolio-block-three .inner-box{
    position: relative;
    display: block;
    margin-bottom: 60px;
}

.portfolio-block-three .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 12px;
}

.portfolio-block-three .inner-box .image-box img{
    width: 100%;
    border-radius: 12px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.portfolio-block-three .inner-box:hover .image-box img{
    transform: rotate(3deg) scaleX(1.25) scaleY(1.25);
}

.portfolio-block-three .inner-box .lower-content{
    position: relative;
    display: block;
    padding-top: 32px;
}

.portfolio-block-three .inner-box .lower-content h2{
    font-size: 32px;
    line-height: 38px;
}

.portfolio-block-three .inner-box .lower-content h2 a{
    display: inline-block;
    color: var(--title-color);
}

.portfolio-block-three .inner-box .lower-content h2 a span{
    position: relative;
    display: inline-block;
}

.portfolio-block-three .inner-box .lower-content h2 a span::before{
    position: absolute;
    content: '';
    background-color: var(--secondary-color);
    width: 0%;
    height: 1px;
    left: 0px;
    bottom: 0px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.portfolio-block-three .inner-box .lower-content h2 a:hover span::before{
    width: 100%;
}


.portfolio-block-four .inner-box{
    position: relative;
    display: block;
}

.portfolio-style-four .outer-container .row{
    --bs-gutter-x: 0px;
}

.portfolio-block-four .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #fff;
}

.portfolio-block-four .inner-box .image-box img{
    width: 100%;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.8;
}

.portfolio-block-four .inner-box:hover .image-box img{
    transform: scale(1.05);
}

.portfolio-block-four .inner-box .content-box{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-block-four .inner-box .content-box h3 a{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    border-radius: 8px;
    background-color: rgb(35, 35, 35, 0.30);
    padding: 21px 32px;
    transform: scale(0,0);
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block-four .inner-box .content-box h3 a:hover{
    background-color: rgb(35, 35, 35, 1);
}

.portfolio-block-four .inner-box .content-box h3 a i{
    position: relative;
    display: inline-block;
    font-size: 20px;
    transform: rotate(-45deg);
}

.portfolio-block-four .inner-box:hover .content-box h3 a{
    transform: scale(1,1);
}

.portfolio-style-four .filter-tabs li{
    position: relative;
    float: left;
    margin-right: 30px;
    font-size: 30px;
    line-height: 36px;
    color: var(--title-color);
    border-radius: 12px;
    border: 1px solid rgb(110, 110, 110, 0.30);
    cursor: pointer;
    padding: 26px 35px;
    margin-bottom: 30px;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-style-four .filter-tabs li.active,
.portfolio-style-four .filter-tabs li:hover{
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.portfolio-style-four .filter-tabs li:last-child{
    margin-right: 0px;
}

.portfolio-page-section .portfolio-block-one .inner-box{
    margin-bottom: 60px;
}

.portfolio-page-section .portfolio-block-one .inner-box .image-box img{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.portfolio-page-section .portfolio-block-one .inner-box:hover .image-box img{
    transform: scale(1.3);
}