

.portfolio-details .image-box{
    position: relative;
    display: block;
    border-radius: 12px;
}

.portfolio-details .image-box img{
    width: 100%;
    border-radius: 12px;
}

.portfolio-details-content h3{
    font-size: 32px;
    line-height: 38px;
}

.portfolio-details-content .btn-box{
    position: relative;
    display: flex;
}

.portfolio-details-content .list-item li{
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    padding-left: 16px;
}

.portfolio-details-content .list-item li:last-child{
    margin-bottom: 0px;
}

.portfolio-details-content .list-item li::before{
    position: absolute;
    content: '';
    left: 0px;
    top: 10px;
    background-color: var(--text-color);
    width: 4px;
    height: 4px;
    border-radius: 50%;
}


.portfolio-sidebar .row{
    --bs-gutter-x: 20px;
}

.portfolio-sidebar .single-item{
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid rgb(110, 110, 110, 0.3);
    border-radius: 12px;
    padding: 20px;
}

.portfolio-sidebar .single-item h3{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
}

.portfolio-sidebar .btn-box{
    position: relative;
    display: flex;
    padding-top: 20px;
}

.portfolio-sidebar .btn-box .theme-btn{
    width: 100%;
}