
.service-sidebar{
    position: relative;
    display: block;
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 40px 30px 20px 30px;
}

.service-sidebar .widget-title{
    margin-bottom: 10px;
}

.service-sidebar .widget-title h3{
    font-size: 48px;
    line-height: 58px;
    color: #fff;
}

.service-sidebar .category-widget .category-list li{
    position: relative;
    display: block;
}

.service-sidebar .category-widget .category-list li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: var(--text-color);
    padding: 21px 0px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.30);
}

.service-sidebar .category-widget .category-list li:last-child a{
    border-bottom: none;
}

.service-sidebar .category-widget .category-list li a.current,
.service-sidebar .category-widget .category-list li a:hover{
    color: #fff;
}

.service-sidebar .category-widget .category-list li a i{
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.service-details-content{
    position: relative;
    display: block;
}

.service-details-content h2{
    font-size: 40px;
    line-height: 48px;
}

.service-details-content h3{
    font-size: 32px;
    line-height: 38px;
}

.service-details-content .image{
    border-radius: 12px;
}

.service-details-content .image img{
    width: 100%;
    border-radius: 12px;
}