
.team-section .inner-container{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.team-section .team-block-one{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    width: 205px;
    min-height: 550px;
    transition-property: width;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section .team-block-one.active{
    width: 390px;
}

.team-section .team-block-one .image-box{
    position: relative;
    display: block;
}

.team-section .team-block-one .image-box::before{
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(35, 35, 35, 0) 77.45%, rgba(35, 35, 35, 0.2) 100%);
    z-index: 1;
}

.team-section .team-block-one .image-box img{
    width: 100%;
    min-height: 550px;
}

.team-block-one .text-box{
    position: absolute;
    left: 0px;
    bottom: 30px;
    width: 100%;
    text-align: center;
    z-index: 2;
    transform: translateY(35px);
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-block-one.active .text-box{
    bottom: 20px;
    transform: translateY(0px);
}

.team-block-one .text-box h3{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 1px;
}

.team-block-one .text-box h3 a{
    position: relative;
    display: inline-block;
    color: #fff;
}

.team-block-one .text-box h3 a:before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 0%;
    height: 1px;
    left: 0px;
    bottom: 0px;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-block-one .text-box h3 a:hover:before{
    width: 100%;
}

.team-block-one .text-box .designation{
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    opacity: 0.7;
    transform: scaleX(0);
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-block-one.active .text-box .designation{
    transform: scaleX(1);
}


.team-block-two .inner-box{
    position: relative;
    display: block;
    margin-bottom: 40px;
}

.team-block-two .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 12px;
}

.team-block-two .inner-box .image-box img{
    width: 100%;
    border-radius: 12px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.team-block-two .inner-box:hover .image-box img{
    transform: rotate(3deg) scaleX(1.25) scaleY(1.25);
}

.team-block-two .inner-box .lower-content{
    position: relative;
    display: block;
    padding-top: 15px;
}

.team-block-two .inner-box .lower-content h3{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 1px;
}

.team-block-two .inner-box .lower-content h3 a{
    display: inline-block;
    color: var(--title-color);
}

.team-block-two .inner-box .lower-content h3 a:hover{
    color: var(--theme-color);
}

.team-block-two .inner-box .lower-content .designation{
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 21px;
}

.team-style-two .owl-dots button span{
    display: none !important;
}

.team-style-two .owl-dots button{
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #CCCCCC;
    border-radius: 50%;
    margin: 0px 4px;
    cursor: pointer;
}

.team-style-two .owl-dots button.active,
.team-style-two .owl-dots button:hover{
    background-color: var(--secondary-color);
}

.team-style-two .owl-nav{
    position: absolute;
    right: 0px;
    bottom: -12px;
}

.team-style-two .owl-nav button{
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    background-image: none;
    border: 1px solid var(--secondary-color);
    font-size: 16px;
    color: var(--title-color);
    transition: all 500ms ease;
}

.team-style-two .owl-nav button.owl-prev{
    margin-right: 15px;
}

.team-style-two .owl-nav button:hover{
    color: var(--theme-color);
    border-color: var(--theme-color);
}

.team-style-two .owl-carousel .owl-stage-outer{
    overflow: visible;
}

.team-style-two .slider-content::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 5000px;
    height: 100%;
    top: 0px;
    right: 100%;
    z-index: 2;
    margin-right: 0px;
}