
.video-section{
    position: relative;
    display: block;
}

.video-section .outer-container{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    transform-origin: top;
    transform: scaleX(0.5) scaleY(0.5);
    border-radius: 10px;
    overflow: hidden;
}

.video-section .outer-container video{
    width: 100%;
    height: 100%;
}